@charset "UTF-8";
/*MISC*/
/*colors*/
/*spacings*/
/*Font-famly*/
/*Font-size*/
/*fondo*/
/*aplicando mixing*/
/* aplicando extend para los botones */
.b_inicio, .b_registro {
  width: 90%;
  padding: 2px 0;
  margin: 2px auto;
  border-radius: 2px;
  color: #18191a;
  cursor: pointer; }

.b_inicio {
  background-color: #b0b5bb; }

.b_registro {
  background-color: #d3d19c; }

/*aplicando maps */
/*Normalize*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Papyrus", cursive;
  background-image: linear-gradient(to right, #f8f2be, #eee4e4); }

h1 {
  font-size: 4.5rem;
  color: #242c5f;
  -webkit-transform: rotate(0.2deg);
  -ms-transform: rotate(0.2deg);
  transform: rotate(0.2deg); }

h2, option {
  font-size: 2.5rem;
  color: rgba(226, 63, 13, 0.767); }

h3 {
  font-size: 2.5rem;
  color: #221c80;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg); }

h4 {
  font-size: 2.5rem; }

label {
  font-size: 2rem; }

h5 {
  font-size: 2.5rem;
  text-align: right;
  color: rgba(226, 63, 13, 0.767);
  font-family: "Indie Flower", cursive; }

.letra {
  font-family: "Indie Flower", cursive;
  text-align: right; }

.der {
  color: #e6f3f5;
  font-family: "Indie Flower", cursive; }

p {
  font-size: 2rem;
  color: #18182b; }

a, th, td {
  font-size: 1.5rem; }

img {
  cursor: pointer;
  height: 3em; }

img:hover {
  filter: blur(0.5px);
  transform: scale(1.2);
  transition: all 0.3s;
  padding: 0.2em; }

/*PARTIALS*/
/*Inicio de mi header*/
.header {
  color: #18182b;
  font-size: 2.5rem;
  font-weight: lighter;
  border: 1px solid #585656;
  padding: 1em;
  margin: 1em;
  width: 90%;
  background-image: url(../IMAGENES/fondo.JPG);
  transform: translate(1em); }

/*inicio de la intro*/
.intro {
  transform: translate(5.5em); }

/*Inicio de mi footer*/
.footer {
  color: #18182b;
  font-size: 2.5rem;
  font-weight: lighter;
  border: 1px solid #585656;
  padding: 1em;
  margin: 1em;
  width: 90%;
  background-image: linear-gradient(to right, #928f8f, #a8a4a4);
  color: #7171bd;
  transform: translate(1em); }

.logo {
  transition: width 4s, transform 4s;
  width: 30%;
  height: 3em; }

/*VIEWS*/
/*Inicio de mi galeria*/
.galeria {
  width: 90%;
  height: 80%;
  transform: translate(15em); }

.Principal {
  justify-content: space-between;
  background-color: #242c5f;
  transform: translate(-3em); }

.card-header {
  color: #7171bd; }

/* Selector CSS por atributo */
a[href^="tel:"] {
  font-size: 15px;
  display: inline-block;
  margin: 20px 30px; }

a.btn-second:before {
  content: "\260e";
  margin-right: 0.5em; }

.slide {
  margin-top: 0.5em; }
  .slide .slide .img-fluid {
    width: 40%; }

.fab {
  font-size: 2rem;
  width: 2em;
  height: 1em;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%; }

.fab:hover {
  transform: scale(1.1);
  transition: all 0.3s;
  padding: 0.2em;
  height: 40%;
  width: auto; }

.fa-whatsapp {
  background: rgba(161, 161, 153, 0.486);
  color: rgba(48, 49, 48, 0.274); }

.order {
  border-style: inset;
  background-color: #62635c57;
  transform: translate(15em); }

.contacto {
  transform: translate(10em);
  background-color: #5a5a5857;
  color: #130c0c;
  text-align: center;
  border-style: inset; }

thead, tbody {
  width: 90%; }

th, td {
  border: solid 5px black;
  padding: 1em;
  text-align: center;
  justify-content: center;
  width: 90%; }

tr:nth-child(even) {
  background-color: darkgrey; }

/* selecciona cualquier elemento <th> cuando está "mantenido(hovered)"*/
tr:hover td {
  background-color: #e6c466;
  color: #ab541f;
  cursor: pointer; }

/* burbujas */
@keyframes flotar {
  to {
    margin-top: 15vh; } }

.burbujas div {
  background: blue;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  animation: animarburbujas 4s linear infinite; }

.burbujas div:nth-child(1) {
  width: 50px;
  height: 45px;
  left: 40px;
  animation-duration: 4s; }

.burbujas div:nth-child(2) {
  width: 60px;
  height: 55px;
  left: 25%;
  animation-duration: 8s; }

.burbujas div:nth-child(3) {
  width: 30px;
  height: 27px;
  left: 40%;
  animation-duration: 5s; }

.burbujas div:nth-child(4) {
  width: 65px;
  height: 60px;
  left: 50%;
  animation-duration: 10s; }

.burbujas div:nth-child(5) {
  width: 55px;
  height: 50px;
  left: 65%;
  animation-duration: 6.5s; }

.burbujas div:nth-child(6) {
  width: 50px;
  height: 48px;
  left: 85%;
  animation-duration: 9s; }

.burbujas div:nth-child(7) {
  width: 35px;
  height: 32px;
  left: 90%;
  animation-duration: 6s; }

@keyframes animarburbujas {
  0% {
    width: 0;
    height: 0; }
  3% {
    width: 30px;
    height: 27px; }
  50% {
    margin-left: 20px;
    opacity: 0.5; }
  100% {
    transform: rotate(90deg);
    bottom: 100vh;
    background: #1b8fc5; } }

/*Medias Queries*/
/*responsive*/
/*para tables*/
@media screen and (min-width: 320px) and (max-width: 768px) {
  body {
    background-image: linear-gradient(to right, #4b3f2c71, #70490e71);
    padding-top: 3.2em;
    flex-direction: column; }
    body .header, body .footer {
      transform: translate(0em); }
    body .intro, body .galeria {
      transform: translate(5em); }
    body .order, body .contacto {
      transform: translate(2em);
      width: 90%; } }

/*para portatil*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
  body {
    padding-top: 3.2em; }
    body .header, body .footer {
      transform: translate(0em); }
    body .galeria {
      transform: translate(8em); }
    body .order {
      transform: translate(4em);
      width: 80%; }
    body .contacto {
      transform: translate(1em);
      width: 90%; } }

/*para mobil*/
@media all and (max-width: 320px) {
  body {
    background-image: linear-gradient(to right, #dad28f, #70490e71);
    padding-top: 1.5em; }
    body .header, body .footer {
      transform: translate(-0.5em); }
    body .intro {
      transform: translate(1.5em); }
    body .galeria {
      transform: translate(2em); }
    body .order {
      transform: translate(2em);
      width: 80%; }
    body .contacto {
      transform: translate(0.5em);
      width: 90%; }
    body .logo {
      width: 70%;
      height: 70%; } }
