@charset "UTF-8";
/*MISC*/
/*colors*/
/*spacings*/
/*Font-famly*/
/*Font-size*/
/*fondo*/
/*aplicando mixing*/
/* aplicando extend para los botones */
.Btn .b_inicio, .b_inicio .b_inicio, .b_registro .b_inicio, .Btn .b_registro, .b_inicio .b_registro, .b_registro .b_registro {
  width: 90%;
  padding: 2px 0;
  margin: 2px auto;
  border-radius: 2px;
  color: #18191a; }

/*aplicando maps */
/*Normalize*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Papyrus", cursive;
  background-image: repeating-linear-gradient(90deg, #858282, #c0b953 20px, #bebcbc 20px, #16e5ec 40px); }

h1 {
  font-size: 4.5rem;
  color: #d4244a;
  -webkit-transform: rotate(0.2deg);
  -ms-transform: rotate(0.2deg);
  transform: rotate(0.2deg); }

h2, option {
  font-size: 2.5rem; }

h3 {
  font-size: 2.5rem;
  color: #221c80;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg); }

h4 {
  font-size: 2.5rem;
  color: #ad410e;
  background-color: #a2aaaa; }

h5, label {
  font-size: 2rem; }

p {
  font-size: 2rem; }

a, th, td {
  font-size: 1.5rem; }

img {
  cursor: pointer;
  height: 50px; }

img:hover {
  filter: blur(0.5px);
  transform: scale(1.2);
  transition: all 0.3s;
  padding: 0.2em; }

/*PARTIALS*/
/*Inicio de mi header*/
.header {
  color: #18182b;
  font-size: 2.5rem;
  font-weight: lighter;
  border: 1px solid #585656;
  padding: 1em;
  margin: 1em;
  transform: translate(2em);
  background-image: url(../IMAGENES/fondo.JPG); }

.Btn, .b_inicio, .b_registro {
  cursor: pointer; }
  .Btn .b_inicio, .b_inicio .b_inicio, .b_registro .b_inicio {
    background-color: #b0b5bb; }
  .Btn .b_registro, .b_inicio .b_registro, .b_registro .b_registro {
    background-color: #d3d19c; }

.intro {
  transform: translate(5.5em);
  padding: 1rem; }

/*Inicio de mi footer*/
.footer {
  color: #18182b;
  font-size: 2.5rem;
  font-weight: lighter;
  border: 1px solid #585656;
  padding: 1em;
  margin: 1em;
  transform: translate(2em);
  background-image: linear-gradient(to right, #6e6e75, #a34b48, #7c7575);
  color: #161650; }

.logo {
  transition: width 2s, transform 2s; }

.logo:hover {
  transform: scale(1.1);
  transition: all 0.3s;
  padding: 0.2em;
  cursor: pointer;
  height: 70%; }

/*VIEWS*/
.contenedor, .header, .servicios, .intro, .galeria, .Principal, .tabla, .order, .contact, .footer {
  width: 90%;
  margin-left: 1em;
  padding: 1em;
  justify-content: center;
  text-align: left; }

/*Inicio de mi galeria*/
.galeria {
  grid-area: galeria;
  grid-column: 1/2;
  width: 90%;
  transform: translate(5em); }

.Principal {
  justify-content: space-between;
  background-color: #e9caca;
  transform: translate(-3em); }

.card-header {
  color: #161650; }

/* Selector CSS por atributo */
a[href^="tel:"] {
  font-size: 15px;
  display: inline-block;
  margin: 20px 30px; }
  a[href^="tel:"] a.btn-second {
    color: #4CAF50; }

a.btn-second {
  color: #4CAF50; }

a.btn-second:before {
  content: "\260e";
  margin-right: 0.5em; }

.order {
  transform: translate(2em);
  border-style: inset;
  background-color: #614b2157;
  color: #130c0c; }

.contacto {
  transform: translate(1em);
  background-color: rgba(122, 100, 66, 0.459);
  color: #130c0c;
  text-align: center;
  border-style: inset; }

thead, tbody {
  width: 90%; }

th, td {
  border: solid 5px black;
  padding: 1em;
  text-align: center;
  justify-content: center;
  width: 90%; }

tr:nth-child(even) {
  background-color: darkgrey; }

/* selecciona cualquier elemento <th> cuando está "mantenido(hovered)"*/
tr:hover td {
  background-color: #e6c466;
  color: #ab541f;
  cursor: pointer; }

/* burbujas */
@keyframes flotar {
  to {
    margin-top: 15vh; } }

.burbujas div {
  background: blue;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  animation: animarburbujas 4s linear infinite; }

.burbujas div:nth-child(1) {
  width: 50px;
  height: 45px;
  left: 40px;
  animation-duration: 4s; }

.burbujas div:nth-child(2) {
  width: 60px;
  height: 55px;
  left: 25%;
  animation-duration: 8s; }

.burbujas div:nth-child(3) {
  width: 30px;
  height: 27px;
  left: 40%;
  animation-duration: 5s; }

.burbujas div:nth-child(4) {
  width: 65px;
  height: 60px;
  left: 50%;
  animation-duration: 10s; }

.burbujas div:nth-child(5) {
  width: 55px;
  height: 50px;
  left: 65%;
  animation-duration: 6.5s; }

.burbujas div:nth-child(6) {
  width: 50px;
  height: 48px;
  left: 85%;
  animation-duration: 9s; }

.burbujas div:nth-child(7) {
  width: 35px;
  height: 32px;
  left: 90%;
  animation-duration: 6s; }

@keyframes animarburbujas {
  0% {
    width: 0;
    height: 0; }
  3% {
    width: 30px;
    height: 27px; }
  50% {
    margin-left: 20px;
    opacity: 0.5; }
  100% {
    transform: rotate(90deg);
    bottom: 100vh;
    background: #1b8fc5; } }

/*Medias Queries*/
/*responsive*/
/*para tables*/
@media screen and (min-width: 320px) and (max-width: 768px) {
  body {
    background-image: repeating-linear-gradient(90deg, #858282, #42b116 20px, #1a1818 20px, #e67979 40px);
    padding-top: 3.2em;
    flex-direction: column; }
  .articulo, .a1, img {
    width: 90%; } }

/*para portatil*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
  body {
    background-image: repeating-linear-gradient(90deg, #858282, #172a4d 20px, #1a1818 20px, #c5d439 40px);
    padding-top: 3.2em;
    flex-direction: column; }
  .articulo, .a1, img {
    width: 90%; } }

/*para mobil*/
@media all and (max-width: 320px) {
  body {
    background-image: repeating-linear-gradient(90deg, #858282, #a56868 20px, #1a1818 20px, #e67979 40px);
    padding-top: 1.5em; }
  .articulo, .a1, img {
    width: 95%;
    flex-direction: row; } }
