.footer{
    grid-column: 1/3;
    background-image: linear-gradient(to right, rgb(110, 110, 117), rgb(163, 75, 72), rgb(124, 117, 117));  
}
.footer{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    transform: translate(-3em);
}
.logo{
    transition: width 2s, height 2s, transform 2s;}
:hover {
     width: 150px;
    height: 150px;
    transform-style: preserve-3d;
}