/*Inicio de mi footer*/
.footer{
    @include important-text;
    background-image:$color-footer;
    color: map-get($color, primary);
}
.logo{
    transition: width 2s, transform 2s;    
}
.logo:hover {
    transform: scale(1.1);
    transition: all 0.3s;  
    padding: 0.2em;
    cursor: pointer;
    height: 70%;
}  