/*Inicio de mi footer*/
.footer{
    @include important-text;
    background-image:$color-footer;
    color: map-get($color, primary);
    transform: translate(1em);
}
.logo{
    transition: width 4s, transform 4s; 
    width: 50%;
    height: 3em; 
}
