/*Inicio de mi header*/
.header{
    @include important-text;
    background-image:$fondo;
    transform: translate(1em);
}  
/*inicio de la intro*/
.intro{
    transform: translate(5.5em); 
}
.navegacion{
    transform: translate(5.5em);
    .dropdown-item{
        font-size: xx-small;
    }
    
}