/*Inicio de mi header*/
.header{
    @include important-text;
    background-image:$fondo;
}  
.Btn, .b_inicio, .b_registro{
        cursor: pointer;
    .b_inicio{
        @extend %btn;
        background-color: #b0b5bb;
     }
    .b_registro {
        @extend %btn;
        background-color: #d3d19c;
     }
}