/*Inicio de mi header*/
$fondo:url(./fondo.JPG);

.header{
    grid-area: header;
    grid-row: 1/2;
    background-image: $fondo;
    width: 90%;
    margin-left: 1em;
    padding: 1em;
    text-align: left;
.init .B2 {
 cursor: pointer}
}