.order{
    border-style: inset;
    @include fondo(dos);
    transform: translate(15em);
}
.contacto{
    transform: translate(1em);
    @include fondo(uno);
    color: rgb(19, 12, 12);
    text-align: center;
    border-style: inset;
  }