.order{
    border-style: inset;
    @include fondo(dos);
    transform: translate(15em);
}
.contacto{
    transform: translate(10em);
    @include fondo(uno);
    text-align: center;
    border-style: inset;
  }