.Principal{
    justify-content: space-between;
    background-color: $primary;
    transform: translate(-3em);
}
.card-header{
    color: map-get($color, primary);
}
/* Selector CSS por atributo */
a[href^="tel:"] {
    font-size: 15px;
    display: inline-block;
    margin: 20px 30px;
a.btn-second {
  color: #4CAF50;
}
}
a.btn-second {
  color: #4CAF50;
}
a.btn-second:before {
  content: "\260e";
  margin-right: 0.5em;
}
.slide{
  margin-top: 0.5em;
  .slide .img-fluid{
    width: 50%;
  }
}
.fab {
  font-size: $text-small;
  width: 2em;
  height: 1em;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fab:hover {
  transform: scale(1.1);
  transition: all 0.3s;  
  padding: 0.2em;
  height: 40%;
  width: auto;
 } 
    
.fa-whatsapp {
  background: rgb(235, 241, 146);
  color: rgba(40, 78, 36, 0.274);
  }