.Principal{
    justify-content: space-between;
    background-color: $primary;
    transform: translate(-3em);
}
.card-header{
    color: map-get($color, primary);
}
/* Selector CSS por atributo */
a[href^="tel:"] {
    font-size: 15px;
    display: inline-block;
    margin: 20px 30px;
a.btn-second {
  color: #4CAF50;
}
}
a.btn-second {
  color: #4CAF50;
}
a.btn-second:before {
  content: "\260e";
  margin-right: 0.5em;
}
.slide{
  margin-top: 0.5em;
  .slide .img-fluid{
    width: 50%;
  }
}
.fab {
  padding: 20px;
  font-size: $text-small;
  width: 30px;
  height: 1em;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  }
  .fab:hover {
  opacity: 0.7;
  } 
  .fa-whatsapp {
  background: #11cf86;
  color: rgba(17, 105, 9, 0.274);
  }