/*Normalize*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size: 62.5%;
    border-style: ridge;
}
body{
    font-family:$font-principal;
    background-image:$color-body;
}
h1{
    font-size:$text-large;
    color:$primary;
    @include transformar(rotate(0.20deg));
}
h2, option{
    font-size:$text-medium;
    color:$alternative;
}
h3{
    font-size: $text-medium;
    color: $primary;
    @include transformar(rotate(20deg));
}
h4{
    font-size: $text-medium;
    color:map-get($color, primary);
}
label{
    font-size:$text-base;
    color:map-get($color, primary);
}
h5{
    font-size:$text-medium;
    text-align: right;
    color:$alternative;
    font-family: $font-secondary;
}
h6{
    color:$primary;
    font-family: $font-secondary;
    font-size: $text-small;
}
.letra{
    font-family: $font-secondary;
    text-align: right;
}
.der{
    color:$secondary;
    font-family: $font-secondary;
}
p{
    font-size:$text-small;
    color:$black;
    word-spacing: $spacing-xmall;
}
a{
    font-size:$text-xsmall;
}
img {
    cursor: pointer;
    height: 3em;
    border-style: ridge;
} 
img:hover{
    filter: blur(0.5px);
    transform: scale(1.2);
    transition: all 0.3s;  
    padding: 0.2em;
} 