
    /*colors*/
    $primary:rgb(36, 44, 95);
    $secondary:rgb(230, 243, 245);
    $black:rgb(24, 24, 43);
    $alternative: rgba(226, 63, 13, 0.767);
    $text-color:rgb(10, 10, 10);
    $icono-fono:red;
    $tabla-insite:rgb(230, 196, 102);
    $tabla-outsite:darkgrey;
    /*spacings*/
    $spacing-large:6rem;
    $spacing-medium:2.4rem;
    $spacing-small:2rem;
    $spacing-xmall:0.5rem;
    /*Font-famly*/
    $font-principal:'Papyrus', cursive;
    $font-secondary:'Indie Flower', cursive;
    /*Font-size*/
    $text-large:4.5rem;
    $text-medium:2.5rem;
    $text-small:2rem;
    $text-base:2rem;
    $text-xsmall:1.5rem;
/*fondo*/
$fondo:url(../IMAGENES/fondo.JPG);
$color-footer:linear-gradient(to right, rgb(146, 143, 143), rgb(168, 164, 164));
$color-body:linear-gradient(to right,white, rgb(238, 228, 228)); 
$vgde:url(../IMAGENES/vgde.jpg);
$valle:url(../IMAGENES/vgde1.jpg);