
    /*colors*/
    $primary:rgb(233, 202, 202);
    $secondary:rgb(128, 172, 180);
    $black:rgb(24, 24, 43);
    $alternative: rgba(141, 102, 23, 0.767);
    $text-color:rgb(10, 10, 10);
    $icono-fono:red;
    $tabla-insite:rgb(230, 196, 102);
    $tabla-outsite:darkgrey;
    /*spacings*/
    $spacing-large:6rem;
    $spacing-medium:2.4rem;
    $spacing-small:2rem;
    $spacing-xmall:1rem;
    /*Font-famly*/
    $font-principal:'Papyrus', cursive;
    $font-secondary:'Indie Flower', cursive;
    /*Font-size*/
    $text-large:4.5rem;
    $text-medium:2.5rem;
    $text-small:2rem;
    $text-base:2rem;
    $text-xsmall:1.5rem;
/*fondo*/
$fondo:url(../IMAGENES/fondo.JPG);
$color-footer:linear-gradient(to right, rgb(110, 110, 117), rgb(163, 75, 72), rgb(124, 117, 117));
$color-body:linear-gradient(to right, rgb(53, 67, 80), rgb(226, 229, 241), rgb(50, 48, 73)) 