/*responsive*/
/*para tables*/
@media screen and (min-width:320px) and (max-width:768px){
    body{
        background-image: repeating-linear-gradient(90deg, rgb(133, 130, 130), rgb(66, 177, 22) 20px, #1a1818 20px, #e67979 40px);
        padding-top: 3.2em;
        flex-direction: column;
    }
    .articulo, .a1, img{
        width: 90%;
    }  
}
/*para portatil*/
@media screen and (min-width:768px) and (max-width:1200px){
    body{
        background-image: repeating-linear-gradient(90deg, rgb(133, 130, 130), rgb(23, 42, 77) 20px, #1a1818 20px, #c5d439 40px);
        padding-top: 3.2em;
        flex-direction: column;
    }
    .articulo, .a1, img{
        width: 90%;
    }   
}
/*para mobil*/
@media all and (max-width:320px){
    body{
        background-image: repeating-linear-gradient(90deg, rgb(133, 130, 130), rgb(165, 104, 104) 20px, #1a1818 20px, #e67979 40px);
        padding-top: 1.5em;
    }
    .articulo, .a1, img{
        width: 95%;
        flex-direction: row;
    }   
}