/*responsive*/
/*para tables*/
@media screen and (min-width:321px) and (max-width:768px){
    body{
        background-color: rgb(231, 226, 216);
        padding-top: 3.2em;
        flex-direction: column;
        .header,.footer{
            transform: translate(0em);
        }
        .intro, .galeria {
            transform: translate(5em);
        }
        .order, .contacto{
            transform: translate(2em);
            width: 90%;
        }
        .menu{
            transform: translate(3em);
        }   
        .card{
            width: 90%;
            transform: translate(1em);
        }
    }
}
/*para portatil*/
@media screen and (min-width:768px) and (max-width:1200px){
    body{
        padding-top: 3.2em;
        .header,.footer{
            transform: translate(0em);
        }
        .galeria{
            transform: translate(8em);
        }
        .order{
            transform: translate(4em);   
            width: 80%;
        }
        .contacto{
            transform: translate(1em);
            width: 90%;
        }
    }
}
/*para mobil*/
@media (min-width:200px) and (max-width:320px){
    body{
        background-color: floralwhite;
        padding-top: 1.5em;
        .header,.footer{
            transform: translate(-1.5em);
        }
        .navegacion{
            transform:translate(-4em);
            width:90%;
        }
        .order, .contacto{
            transform: translate(1em);
            width: 100%;
        }
        .menu,.galeria{
            transform: translate(-2.5em);
        }   
        .card,.car-body{
            width: 90%;
            transform: translate(1.5em);
        }
        .acordion, .intro{
            transform: translate(-2em);
        }
        .carousel{
            transform: translate(-4em);

        }
        h2, label, option, p{
            font-size:small;
        }
        h3, a{
            font-size: medium;
        }
        h1, h4{
            font-size:x-large;
        }
    }
}