/*responsive*/
/*para tables*/
@media screen and (min-width:320px) and (max-width:768px){
    body{
        background-image: linear-gradient(to right, #4b3f2c71, #70490e71);
        padding-top: 3.2em;
        flex-direction: column;
        .header,.footer{
            transform: translate(0em);
        }
        .intro, .galeria {
            transform: translate(5em);
        }
        .order, .contacto{
            transform: translate(2em);
            width: 90%;
        }
        .menu{
            transform: translate(3em);
        }   
        .card{
            width: 90%;
            transform: translate(1em);
        }
    }
}
/*para portatil*/
@media screen and (min-width:768px) and (max-width:1200px){
    body{
        padding-top: 3.2em;
        .header,.footer{
            transform: translate(0em);
        }
        .galeria{
            transform: translate(8em);
        }
        .order{
            transform: translate(4em);   
            width: 80%;
        }
        .contacto{
            transform: translate(1em);
            width: 90%;
        }
    }
}
/*para mobil*/
@media all and (max-width:320px){
    body{
        background-image: linear-gradient(to right, rgb(218, 210, 143), #70490e71);
        padding-top: 1.5em;
        .header,.footer{
            transform: translate(-0.5em);
        }
        .intro {
            transform: translate(1.5em);
        }
        .galeria{
            transform: translate(2em);
        }
        .order, .contacto{
            transform: translate(0em);
            width: 100%;
            background-repeat: no-repeat;
        }
        .menu{
            transform: translate(2em);
        }   
        .card, .slide{
            width: 90%;
            transform: translate(1em);
        }
        label, option{
            font-size: $text-xsmall;
        }
    }
}